/* CSS reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* landing_page */

.landing-page {
  height: 100vh;
  position: relative;
  top: 0;
  overflow: hidden;
  z-index: 0;
}

.landing-page-title {
  font-size: 7em;
  color: black;
  display: block;
  margin-top: 330px;
  margin-left: 400px;

  /* position: absolute; */
  /* left: 50%;
  top: 30%; */
}
.landing-page-subtitle {
  font-size: 1.7em;
  color: black;
  display: block;
  margin-left: 410px;
}

.landing-page #myVideo {
  /* Make video to at least 100% wide and tall */
  min-width: 100vw;
  min-height: 100vh;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  opacity: 0.5;
}

.scroll-down-icon {
  width: 70px;
  position: absolute;
  bottom: 30px;
  right: 50%;
  transform: translateX(50%);
}
/* main_page */

.main-page {
  position: relative;
  z-index: 5;
  background: white;
  text-align: center;
  height: 100vh;
}

.main-page {
  display: flex;
}

/* human_body */

.body-box,
.parts {
  display: inline-block;
}

.body-box {
  width: 30vw;
  background: lime;
  background-image: url(/src/img/human-body.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 100px;
}

.parts-box {
  width: 70vw;
  height: 100vh;
  padding: 100px;
  margin-right: 100px;
}
/* .body .flex-wrap {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  align-items: stretch;
} */

.head-box,
.upper-box,
.lower-box {
  width: 100%;
  opacity: 0.5;
}

.head-box {
  background: tomato;
  height: 25vh;
}

.upper-box {
  background: yellow;
  height: 25vh;
}

.lower-box {
  background: skyblue;
  height: 40vh;
}

/* human_parts */

.parts.flex-wrap {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 80vh;
  margin: 20px;
}

.parts button {
  padding: 10px 50px 10px 50px;
  /* border: 1px solid #181818; */
  border-radius: 10px;
  margin-right: 50px;
}

/* main title */
.main-page-title {
  font-size: 3em;
  float: left;
  z-index: 10;
  left: 30vw;
  position: absolute;
  margin-top: 300px;
}

/* symptoms */
.symptoms {
  color: aqua;
}
.symp button {
  color: red;
  padding: 10px 50px 10px 50px;
}
