/* CSS reset */
body {
  font-family: 'Black Han Sans', sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* landing_page */

.landing-page {
  height: 100vh;
  position: relative;
  top: 0;
  overflow: hidden;
  z-index: 0;
}

.landing-page-title {
  font-size: 7em;
  color: black;
  display: block;
  margin-top: 330px;
  margin-left: 400px;

  /* position: absolute; */
  /* left: 50%;
  top: 30%; */
}
.landing-page-subtitle {
  font-size: 1.7em;
  color: black;
  display: block;
  margin-left: 410px;
}

.landing-page #myVideo {
  /* Make video to at least 100% wide and tall */
  min-width: 100vw;
  min-height: 100vh;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  opacity: 0.5;
}

.scroll-down-icon {
  width: 70px;
  position: absolute;
  bottom: 30px;
  right: 50%;
  transform: translateX(50%);
}
/* main_page */

.main-page {
  position: relative;
  z-index: 5;
  background: white;
  text-align: center;
  height: 100vh;
}

.main-page {
  display: flex;
}

/* human_body */

.body-box,
.parts {
  display: inline-block;
}

.body-box {
  width: 30vw;
  background-image: url(/src/img/human-body.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 250px;
  position: relative;
}

.body-box.head-hover,
.body-box.head-click {
  background-image: url(/src/img/human-head.png);
}
.body-box.upper-hover,
.body-box.upper-click {
  background-image: url(/src/img/human-upper.png);
}
.body-box.lower-hover,
.body-box.lower-click {
  background-image: url(/src/img/human-lower.png);
}

.parts-box {
  width: 60vw;
  height: 100vh;
  padding: 50px;
  margin-right: 100px;
}

.body .flex-wrap {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  align-items: center;
}

.head-box,
.upper-box,
.lower-box {
  width: 100%;
  opacity: 0.5;
}

.head-box {
  margin-top: 30px;
  width: 55px;
  left: 126px;
  height: 90px;
  top: 90px;
  position: absolute;
  display: inline-block;
}

.upper-box {
  height: 213px;
  left: 0px;
  top: 208px;
  position: absolute;
  display: inline-block;
}

.hand1,
.hand2 {
  position: absolute;
  display: inline-block;
}
.hand1 {
  height: 90px;
  left: -7px;
  top: 212px;
  width: 50px;
}

.hand2 {
  height: 90px;
  left: 100px;
  top: 212px;
  width: 50px;
}

.lower-box {
  height: 362px;
  width: 221px;
  bottom: 120px;
  left: 43px;
  position: absolute;
  display: inline-block;
}

/* human_parts */

.parts.flex-wrap {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 80vh;
  margin: 20px;
}

.parts button {
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  margin-right: 50px;
}
