* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.flex-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: pink;
}

.symp {
  padding: 70px;
  margin: 30px;
}
